@model List<TEST.Models.VentaModel>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(window).load(function () {

            if (window.location.href.includes("Success")) {
                ShowMessage('<b>Bien Hecho!</b>, Tu venta ha sido registrada correctamente', 'alert-success');
            }

        });
    </script>
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div style="float:right;">
            <a href="~/Ventas/Nuevo">
                <img src="~/Content/Imagenes/NuevaVenta.jpg" style="float: right;" />
            </a>
        </div>

        <div style="width: 100%;margin-left: 15px;margin-bottom: 10px; color:#4cb2b4; float:left; clear:left;">
            Ventas Activas
        </div>
        <div style="width: 100%;background-color: #4470AA;height: 1px;float:left; clear:left;">

        </div>
        <div style="width: 96%; margin-left:2%; background-color:#89CBEF; height:28px; color:#0A6FA6;float:left; clear:left;">
            <div style="width: 15%; float:left;padding: 4px; text-align:center:">
                Folio Venta
            </div>
            <div style="width: 13%; float:left;padding: 4px;text-align:center:">
                Clave Cliente
            </div>
            <div style="width: 35%; float:left;padding: 4px;">
                Nombre
            </div>
            <div style="width: 11%; float:left;padding: 4px;text-align:center:">
                Total
            </div>
            <div style="width: 18%; float:left;padding: 4px;text-align:center:">
                Fecha
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div style="width: 95.5%;margin-left: 2.2%;background-color:#ECF0FD;height:28px;color:black;float:left;clear:left;">
                <div style="width: 15%; float:left;padding: 4px;text-align:center;">
                    @item.FoliadorVentaID.ToString("000")
                </div>
                <div style="width: 13%; float:left;padding: 4px; text-align:center;">
                    @item.ClienteID.ToString("000")
                </div>
                <div style="width: 35%; float:left;padding: 4px;">
                    @item.NombreCompleto
                </div>
                <div style="width: 11%; float:left;padding: 4px;text-align:right;">
                    @item.TotalAdeudo.ToString("0.00")
                </div>
                <div style="width: 18%; float:left;padding: 4px;text-align:center;">
                    @item.Fecha.ToString("dd/MM/yyyy")
                </div>
            </div>


        }
    </div>
</div>