@model List<TEST.Models.VentaModel>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(window).load(function () {

            if (window.location.href.includes("Success")) {
                $("#MsjGlobal").html('<b>Bien Hecho!</b>, Tu venta ha sido registrada correctamente');
                $("#MsjGlobal").show(0).delay(5000).hide(0);
            }

        });
    </script>
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div style="float:right;">
            <a href="~/Ventas/Nuevo">
                <img src="~/Content/Imagenes/NuevaVenta.jpg" style="float: right;" />
            </a>
        </div>

        <div style="width: 100%;margin-left: 15px;margin-bottom: 10px; color:#4cb2b4; float:left; clear:left;">
            Ventas Activas
        </div>
        <div style="width: 100%;background-color: #4cb2b4;height: 2px;float:left; clear:left;">

        </div>
        <div style="width: 96%; margin-left:2%; background-color:#fececd; height:28px; color:#998c66;float:left; clear:left;">
            <div style="width: 15%; float:left;padding: 4px;">
                Folio Venta
            </div>
            <div style="width: 13%; float:left;padding: 4px;">
                Clave Cliente
            </div>
            <div style="width: 23%; float:left;padding: 4px;">
                Nombre
            </div>
            <div style="width: 11%; float:left;padding: 4px;">
                Total
            </div>
            <div style="width: 18%; float:left;padding: 4px;">
                Fecha
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div style="width: 96%; margin-left:2%; background-color:#fececd; height:28px; color:#1e1e1e;float:left; clear:left;">
                <div style="width: 15%; float:left;padding: 4px;">
                    @item.FoliadorVentaID.ToString("000")
                </div>
                <div style="width: 13%; float:left;padding: 4px;">
                    @item.ClienteID.ToString("000")
                </div>
                <div style="width: 23%; float:left;padding: 4px;">
                    @item.NombreCompleto
                </div>
                <div style="width: 11%; float:left;padding: 4px;">
                    @item.TotalAdeudo.ToString("0.00")
                </div>
                <div style="width: 18%; float:left;padding: 4px;">
                    @item.Fecha.ToString("dd/MM/yyyy")
                </div>
            </div>


        }
    </div>
</div>